<ul class="list-inline">
  <li>
  	<%= link_to following_path(id: user.id) do %>
  	<p class="text-muted">Following</p>
  	<h4 class="text-primary"><%= user.follow_count ||= 0 %></h4>
  	<% end %>
  </li>
  <li>
  	<%= link_to followers_path(id: user.id) do %>
  	<p class="text-muted">Followers</p>
  	<h4 class="text-primary"><%= user.followers ||= 0 %></h4>
  	<% end %>
  </li>
  <li>
  	<%= link_to show_user_path(id: user.id) do %>
  	<p class="text-muted">Tweets</p>
  	<h4 class="text-primary"><%= user.tweets.count %></h4>
  	<% end %>
  </li>
</ul>