
<div class="row">
  <div class="col-md-3">
  	<%= render 'profile', user: @user %>
  </div>
  <div class="col-md-6">
  	<div class="panel panel-default">
  	  <div class="panel-body">
  	    <%= render 'stats', user: @user %>
  		<p class='pull-right'>
		  <% if @following.include?(@user.id) %>
		    <%= link_to "Following", unfollow_path(id: @user.id), class: "btn btn-primary", id: "unfollow_btn" %>
		  <% else %>
		    <% if current_user.id != @user.id %>
			  <%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary" %>
			<% end %>
		  <% end %>
		</p>
	  </div>
	</div>
  	<% @user.tweets.each do |tweet| %>
	  <%= render 'tweets/tweet', tweet: tweet %>
	<% end %>
  </div>
</div>